autopep8==2.3.1
certifi==2024.12.14
charset-normalizer==3.4.0
defusedxml==0.7.1
Django==4.2.16
django-allauth==0.63.6
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
idna==3.5
oauthlib==3.1.1
pep8==1.7.1
Pillow==10.4.0
pycodestyle==2.12.1
python-decouple==3.8
python3-openid==3.1.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.1
stripe==11.2.0
urllib3==2.2.3
